footer{
    background-color: #FBFBFB;
    padding: 20px;
    margin-top: 30px;
    .pie-de-pagina{
        width: 100%;
        .grupo-1{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .grupo-1{
            width: 100%;
            max-width: 1200px;
            margin: auto;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 0px 0px;

            
            .logos{
                figure{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 150px;
                        p{
                            margin-bottom: 10px;
                        }
                    }
                }
            }
            .red.social{
                a{
                    display: block;
                    text-decoration: none;
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    margin-right: 10px;
                    text-align: center;
                }
            }
        }
    }
    @media (max-width: 800px){
        .pie-de-pagina{
            .grupo-1{
                width: 90%;
                grid-template-columns: repeat(1, 1fr);
                grid-gap: 30px;
                padding: 35px 0px;
                }
                .red.social{
                    display: flex;
                    justify-content: center;
                    }
                
        }
    }
}